* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: grey;
    color: white;
    padding: 2em;
}

main {
    display: flex;
    /* flex-grow: 1; */
}

nav {
    background-color: orange;
    color: white;
    padding: 2em;
}

article {
    padding: 2em 5em 2em 5em;
}

article h2 {
    border-bottom: 2px solid darkgrey;
}

footer {
    background-color: darkgrey;
    color: white;
    padding: 2em;
}