* {
    box-sizing: border-box;
}

html {
    background: transparent url('background-grid.png') left top repeat scroll;
}

body {
    margin: 0;
}

.one {
    margin: 2em auto;
    padding: 1em;
    width: 50vw;
    height: 50vw;
    color: white;
    
    /*background: #1e5799; /* Old browsers */
    /* background: -moz-linear-gradient(top,  #1e5799 24%, #7db9e8 100%); /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top,  #1e5799 24%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom,  #1e5799 24%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); IE6-9 */
        
    /* background-size: auto 100%; */

    background-color: rgba(0, 0, 0, 0.7);
    background-image: url(puppy.jpg);
    background-size: 30em 30em;
    background-repeat: no-repeat;

    background-attachment: scroll;
}