body {
    padding: 1em;
    font-size: 1.5em;
}

img {
    width: 200px;
}

.iron {
    float: right;
    margin: 1em 0 1em 1em;
}

.super {
    float: right;
    clear: right;
    margin: 1em 0 1em 1em;
}

.container {
    border: 1px solid green;
    /* overflow: hidden; */
}