.picture {
  width: 100px;
  height: 100px;
}

.check {
  background-image: url('./img/check.svg');
}

.cross {
  background-image: url('./img/cross.svg');
}

.question {
  background-image: url('./img/question.svg');
}