* {
    box-sizing: border-box;
}

html {
    font-family: 'Handlee', cursive;
}

body {
    text-align: center;

         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+99,fccd4d+99,fbdf93+100 */
         background: #fceabb; /* Old browsers */
         background: -moz-linear-gradient(-45deg, #fceabb 0%, #fccd4d 99%, #fccd4d 99%, #fbdf93 100%); /* FF3.6-15 */
         background: -webkit-linear-gradient(-45deg, #fceabb 0%,#fccd4d 99%,#fccd4d 99%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(135deg, #fceabb 0%,#fccd4d 99%,#fccd4d 99%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */     
}

img {
    width: 20em;
    padding-top: 3em;
}

.text {
    padding-bottom: 5em;
}

h1 {

}

p {
    padding-bottom: 2em;    
}